/* Elements */

:root {
    --outside-margin: 3rem;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Gelasio', serif;
    color: rgb(113, 113, 113);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*
    I think centering issue for content comes from width
    not being set to max-width
*/

/* .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.title-header {
    margin-top: var(--outside-margin);
    margin-bottom: var(--outside-margin);
}

section {
    margin-top: var(--outside-margin);
    margin-bottom: var(--outside-margin);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
}

/* .container {
    flex: auto
} */

.img-ben {
    max-width: 100%;
    height: auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
}

hr {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

a, a:hover {
    text-decoration: none;
}

/* Custom Headers */

.title-header {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 10px;
    /* outline-width: 2px;
    outline-color: #FFF;
    text-shadow: rgb(162, 161, 161) 2px 2px 0; */
}

.section-header {
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: 500;
}

.title-header, .section-header {
    color: black;
    text-transform: uppercase;
}

/* Buttons */

.btn {
    display: inline-block;
    background-color: transparent;
    color: #343a40;
    border: 1px solid transparent;
    border-color: #343a40;
    border-radius: .25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
}

.btn:hover {
    color: #FFF;
}

.bj-btn {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bj-btn:hover {
    background-color: #9F5F9F;
    border-color: #9F5F9F;
}

/* Header Image */

.header-img {
    padding: 0;
}

/* Section Content */

.section-content {
    /* Align with the image */
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
}

/* Biography Section */

.biography .section-content {
    text-align: left;
}

/* Footer Section */

.footer {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

footer {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.social-icon {
    color: rgb(113, 113, 113);
    padding-left: 3px;
}

.social-icon:hover {
    color: black
}

.zs-site-link {
    color: rgb(113, 113, 113);
}

.zs-site-link:hover {
    color: black;
    text-decoration: none;
}

/* Media Queries */

@media (max-width: 1100px) {/*768*/
    .title-header {
        font-size: 2rem;
        letter-spacing: 5px;
    }

    .section-header {
        font-size: 1.5rem;
    }

    .section-content {
        /* width: 100%; */
        padding-left: 7%;   
        padding-right: 7%;
    }

    .education .section-content {
        padding-left: 10%;
        padding-right: 10%;
    }
}