/* Elements */

body {
    margin: 0;
    text-align: center;
    font-family: 'Gelasio', serif;
    color: rgb(113, 113, 113);
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
}

hr {
    width: 80%;
}

a {
    text-decoration: none;
}

/* Custom Headers */

.title-header {
    font-weight: 700;
    letter-spacing: 10px;
    /* outline-width: 2px;
    outline-color: #FFF;
    text-shadow: rgb(162, 161, 161) 2px 2px 0; */
}

.section-header {
    letter-spacing: 5px;
}

.title-header, .section-header {
    color: black;
    text-transform: uppercase;
}

/* Buttons */

.bj-btn {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bj-btn:hover {
    background-color: #9F5F9F;
    border-color: #9F5F9F;
}

/* Header Image */

.header-img {
    padding: 0;
}

/* Section Content */

.section-content {
    /* Align with the image */
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}

/* Biography Section */

.biography .section-content {
    text-align: left;
}

/* Footer Section */

.footer {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.social-icon {
    color: rgb(113, 113, 113);
    padding-left: 3px;
}

.social-icon:hover {
    color: black
}

.zs-site-link {
    color: rgb(113, 113, 113);
}

.zs-site-link:hover {
    color: black;
    text-decoration: none;
}

/* Media Queries */

@media (max-width: 1100px) {/*768*/
    body {
        font-size: 1.4rem;
    }

    .title-header {
        font-size: 2rem;
        letter-spacing: 5px;
    }

    .section-content {
        width: 100%;
        padding-left: 10%;   
        padding-right: 10%;
    }
}